.status-body {
  background: #000 url(../images/divinity.png);
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: pixop;
}

#status-container {
  border: none;
  font-size: 5rem;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding: 1em;
  position: relative;
  padding: 1em;
  padding-top: 1em;
  padding-top: 0;
  margin-top: 15rem;
}

.status-text {
  border: 5px solid #d30483;
  background: rgb(0, 0, 0, 0.25);
  margin: 0;
  font-size: 0.6em;
  border-radius: 5em;
  color: #ff6ec7;
  text-shadow: 0px 1px 1px;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.status-time {
  font-size: 1.5em;
  margin-top: 1.5em;
  border: none;
}

.lime {
  color: lime;
}

.cyan {
  color: #34ebcc;
}

.yellow {
  color: yellow;
}
@media only screen and (max-width: 768px) {
  #status-container {
    font-size: 3em;
    width: auto;
    text-align: center;
  }
  .status-text {
    margin-top: 1em;
  }
  .status-time {
    font-size: 0.6em;
  }
}
